<div>
    <h1>WELCOME{{user}}</h1>
</div>
<div class="p-5 mt-3 ms-3 bg-light" style="height: 50px;width: 400px;">
<a routerLink="/transations">view transation history</a>
</div>
<div class="container w-50 bg-light border mt-5 p-3">
    <h1 class="text-center">Deposit</h1>
    <form (ngSubmit)="deposit()" [formGroup]="depositForm">

    <div class="mt-2 p-2">
     <input formControlName="acnum" name="acno" type="text" placeholder="Enter acno" class="form-control" id="acno">
     <div *ngIf="this.depositForm.get('acnum')?.errors&&this.depositForm.get('acnum')?.touched " ><p>Invalid password</p></div>

    </div>

 <div class="mt-2 p-2">
     <input formControlName="pswrd" name="pswrd" type="text" placeholder="Enter password"   class="form-control" id="psw">
     <div *ngIf="this.depositForm.get('pswrd')?.errors&&this.depositForm.get('pswrd')?.touched " ><p>Invalid password</p></div>

    </div>
 <div class="mt-2 p-2">
     <input  formControlName="amnt" name="amnt" type="text" placeholder="Enter amount"   class="form-control" id="amnt">
     <div *ngIf="this.depositForm.get('amnt')?.errors&&this.depositForm.get('amnt')?.touched " ><p>Invalid password</p></div>

    </div>

 <div class="text-center mt-2 p-2">
     <button type="submit" class="btn btn-sucess">Deposit</button>
 
 </div>
 
</form>
</div>



<div class="container w-50 bg-light border mt-5 p-3">
    <form (ngSubmit)="withdraw()"[formGroup]="Formwithdraw">

    <div class="mt-2 p-2">
        <h1 class="text-center">withdraw</h1>

     <input formControlName="acnum1" name="acnum1" type="text" placeholder="Enter acno" [(ngModel)]="acnum1"  class="form-control" id="unamee">
     <div *ngIf="this.Formwithdraw.get('acnum1')?.errors&&this.Formwithdraw.get('acnum1')?.touched " ><p>Invalid password</p></div>

    </div>

 <div class="mt-2 p-2">
     <input formControlName="pswrd1" name="pswrd1" type="text" placeholder="Enter password" [(ngModel)]="pswrd1"  class="form-control" id="pass">
     <div *ngIf="this.Formwithdraw.get('pswrd1')?.errors&&this.Formwithdraw.get('pswrd1')?.touched " ><p>Invalid password</p></div>

    </div>
 <div class="mt-2 p-2">
     <input formControlName="amnt1" name="amnt1" type="text" placeholder="Enter amount" [(ngModel)]="amnt1"  class="form-control" id="amt">
     <div *ngIf="this.Formwithdraw.get('amnt1')?.errors&&this.Formwithdraw.get('amnt1')?.touched " ><p>Invalid password</p></div>

    </div>

 <div class="text-center mt-2 p-2">
     <button type="submit" class="btn btn-success">Withdraw</button>
 
 </div>
 
</form>
</div>
