<div><h3>{{aim}}</h3></div>
<div class="container w-50 bg-light border mt-5 p-3">
    <h1 class="text-center">login page</h1>
<form (ngSubmit)="login()"  [formGroup]="loginForm">
<div class="mt-2 p-2">
    <input formControlName="acno" type="text" [placeholder]="acnt"class="form-control" id="acid11">
    <div *ngIf="this.loginForm.get('acno')?.errors&&this.loginForm.get('acno')?.touched " ><p>Invalid acccount number</p></div>

</div>   
 <div class="mt-2 p-2">
        <input formControlName="psw" type="text" placeholder="password"  class="form-control" id="acid">
        <div *ngIf="this.loginForm.get('psw')?.errors&&this.loginForm.get('psw')?.touched " ><p>Invalid password</p></div>

    </div>


<div class="text-center mt-2 p-2">
    <button type="submit" class="btn btn-sucess">login</button>
    <p>new user?</p> <a class="aaa" routerLink="register">register </a> 

</div>
</form>
</div>