    <div class="container w-50 bg-light border mt-5 p-3">
           <div class="mt-2 p-2">
            <input formControlName="username" name="username" type="text" placeholder="Enter Username" [(ngModel)]="uname"  class="form-control" id="unamee">
    </div>
    
 <form (ngSubmit)="register() " [formGroup]="registerForm" >
        <div class="mt-2 p-2">
            <input formControlName="acno"  name="acno" type="text" placeholder="Enter acnumber" [(ngModel)]="acno"  class="form-control" id="anum">
        </div>
        <div class="mt-2 p-2">
            <input formControlName="pswd" name="psw" type="text" placeholder="Enter password" [(ngModel)]="psw"  class="form-control" id="psww">
        </div>
    
        <div class="text-center mt-2 p-2">
            <button type="submit" class="btn btn-sucess">Register</button>
        
        </div>
        
 </form>
    </div>
